header {
	height: 80px;
	width: 100%;
	text-align: center;
	background: #133858;
	box-shadow: 0 0 20px #222;
}
header h4 {
	line-height: 70px;
	color: #e0e7ef;
	text-shadow: 0 0 5px #051a2b;
}
.wrapper {
	background: url('log.jpg');
	box-shadow: 0 3px 15px #111;
	color: #fff;
}
#table {
	background: rgb(15, 39, 58);
	box-shadow: 0 0 25px #111 inset;
}
sub {
    top: -0.5em;
}
button#Ans {
    border-radius: 4px;
    border: none;
    padding: 2px 14px;	
    font-weight: 600;
    color: #0f2733;
}
button#Ans:hover {
	background: #cef3f7;
	color: #0b222d;
	cursor: pointer;
}
	
